@import "tailwindcss";

@theme {
  --color-primary: #ff6600;
  --color-background-light: #f8f7f5;
  --color-background-dark: #23170f;
  --font-display: "Space Grotesk", sans-serif;
}

.vintage-grain {
    position: relative
}
.vintage-grain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDSP1jm9YAYphMFMK4horJk2VrWqjg7xPcZzzzlZJZ2Eb5uSy0wyN3zDSOF0rKep4Rs1RWbtJSfGl15xfblAzG5XqmFBk9Vr5JtLyjHRiE-G0s68s8cZMIUCP3iIxCb53l4gA0pfLlE1CC8FwagQQhKlTagoXJcmyaQDq4QhxVc-2Hq_B5NHTDzj9ZekiRrGYxL1bkBbBrevdU8_D74DcK5ioTsxaR_wh6WAVt7wWN4pCckilk5BifIES7XBXwF6IU1O9uSVdQZ7VLg);
    opacity: 0.05;
    pointer-events: none;
    z-index: 10
}
.text-textured {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuC_Br5FiuG3calA5CAYDH1lCx7DHjKn6V1fV1qDOPyDInIpuprZEoRD1hhO_WqcRaStgXJRSQWypthkkBVAnCz8LuWoYw6zPtpsWV3HTPcME_gYUuBoJMMFZ9gcEbp-vLcBQYtRcj27xedrLFRP2Q8erhbBr7DGs56Q2VIOe1_4RsDT6kIkN4gib1HLSsamgQw2foPy7cG0TWhitJjJwEm8E3ByUgHitkFIRPv3PFVONcobMBbWDvSd9hJ1J-sPbNku9azGatqJiOjy);
    -webkit-background-clip: text;
    background-clip: text
}
.brush-script-distressed {
    color: white;
}
@keyframes scroll-up {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

@keyframes scroll-down {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}
